<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/style.css">

</head>
<body>
    <h2>Test</h2>
    <li>
    <ul>hello, Neal Is the BEST!!!</ul>
    <ul>say something</ul>
    <ul>goodbye</ul></li>

    <button class="button button1">Green</button>
    <button class="button button2">Blue</button>    
    <script src="/main.js"></script>
</body>
</html>

